<% include partials/header %>
<form action="/weather" method="POST">
  <input type="text" placeholder="Enter your postcode" aria-label="location" name="location">
  <button type="submit">Get Weather</button>
</form>
<% include partials/footer %>

